<!-- <router-outlet></router-outlet>
<mat-checkbox>Check me!</mat-checkbox> -->


    <h2>My Customers</h2>
    <div class="ContainerClass">
        <div>
           <input type="text" [ngModel]="getMyProperty()" id="myInput"  placeholder="Search for names.." title="Type in a name">
        </div>    
        <div>
          <select (change)="somethingChanged($event.target.value)"  class="browser-default custom-select"   id="mycontry">
            <option selected>Apply Filter</option>
            <option value="Name">Name</option>
            <option value="Country">Country</option>
          </select>
        </div>
        
    </div>
    

    
    <table id="myTable">
      <tr class="header">
        <th style="width:60%;">Name</th>
        <th style="width:40%;">Country</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Germany</td>
      </tr>
      <tr>
        <td>Berglunds snabbkop</td>
        <td>Sweden</td>
      </tr>
      <tr>
        <td>Island Trading</td>
        <td>UK</td>
      </tr>
      <tr>
        <td>Koniglich Essen</td>
        <td>Germany</td>
      </tr>
      <tr>
        <td>Laughing Bacchus Winecellars</td>
        <td>Canada</td>
      </tr>
      <tr>
        <td>Magazzini Alimentari Riuniti</td>
        <td>Italy</td>
      </tr>
      <tr>
        <td>North/South</td>
        <td>UK</td>
      </tr>
      <tr>
        <td>Paris specialites</td>
        <td>France</td>
      </tr>
    </table>
